<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
		<title>E-COM | Error</title>
	</head>
	<body>
		<div>
			<h4>Oops! An error has occured 😭</h4>
			<p><%= errorMessage %></p>
			<hr />
			<p></p>
				Please use the following link to view the list of <a href="/products">products</a> or <a href="/authenticate/signin">Sign In</a>
			</p>
		</div>
	</body>
</html>
